#MainDiv{
	/*position:relative; width:99%; height:96%; overflow:hidden; border:#999 1px solid;*/ position:absolute; border:1px solid #CED7D6; width:100%; height:99%; top:0px; left:0px;
}
/*.sceneTitle {
  font-family : Tahoma, Arial, Verdana, Helvetica, sans-serif; 
  font-size : 36px;
  text-decoration : bold;
}*/
.sceneTitle p{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}
.TOP{
	position:relative; width:100%; height:70%; /*left:2px;*/ overflow:hidden; overflow-style:marquee-line; 
}
.mainArea{
	position:absolute; width:59.8%; height:100%; overflow:hidden; overflow-style:marquee-line; 
}
.Image{
	position:absolute; width:40%; height:99%; left:1%; /*overflow:hidden;*/ 
}
#scrollableMainText{
	position:absolute; width:55%; height:90%; right:0px; overflow-x:hidden; overflow-y:auto;
}
#MainText{
	position:absolute; width:95%; font-family:Arial; font-size:70%; left:0;
}
#MainText p{
	margin: 0px;
}
.QOArea{
	position:absolute; width:40%; height:100%; vertical-align:middle; right:0px; background-color:#EEF2F1; border-left:solid; border-left-width:1px; border-left-color:#CED7D6; 
}
.QText{
	position:relative;
	width:96%;
	overflow-y:auto;
	left:3%;
	font-family:Arial;
	font-size:70%;
	height:14%;
	/*max-height: 20%;
	min-height:10%;*/
}

.clear-fix{
	clear:both;
	display:block;
	margin:0;
	padding:0;	
}

* html .QText {
   /* height: expression( this.scrollHeight < 11 + "%" ? "10%" : "20%" ); sets max-height for IE */
}
.QText p{
	/*margin: 0px;*/
	margin-bottom:0px;margin-top:0px;
}
#scrollableOption{
	position:relative; width:96%;/* height:66%;*/height:72%; left:3%; overflow-x:hidden; overflow-y:auto;
}
#Option{
	position:relative; min-height:100%; /*left:3%; vertical-align:top;*/
}
.BOTTOM{
	position:relative; width:100%; height:30%; bottom:0%; /*overflow:hidden;*/ background-color:#F5F8F7; 
}
.Feedback{
	position:relative; width:100%; height:27px; left:0%; top:0; border-top:solid; border-top-color:#CED7D6; border-top-width:thin; background-image:url(../Custom_Template/MC_Template/UI/PNG/feedback.jpg); background-repeat:no-repeat; background-repeat:repeat-x; display:table; overflow:hidden; font-family:Arial; font-size:70%; 
}
#scrollableFeedbackText{
	position:relative; width:98%; height:70%; left:2%; top:5%; overflow-x:hidden; overflow-y:auto;
}
#FeedbackText2{
	position:relative; font-family:Arial; font-size:70%;
}
#FeedbackText2 p{
	margin: 0px;
	/*font-size:70%;*/
}
.ImgBut{
	position:absolute; width:100%;
}
.fontFm{
	font-family:Arial; font-size:70%; color:#666;
}
.OptDiv{
	position:relative; top:0%; left:10%; width:75%; vertical-align:top; font-family:Arial; font-size:70%; 
}
.OptDiv p{
	margin-top:5px;
	margin-bottom:5px;
	/*margin: 0px;*/
}
#loader{
	position:absolute;
	width:98%;
	height:98%;
	background-image: url(../UI/formUI/loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.red{
	color:#FF0000;
}