<div id="supportMaterialStrip" class="panel panel-default" style="display:none" item_type="SupportMaterial">
   <div class="panel-heading">
	  
		<div class="holder">

			<div class="anchors move-btn" style="height: 40px">
				
				
				<a class="up" title="Move Up" href="javascript:;">
					<i class="icon-arrow-up" style=""></i>
				</a>
			
				<a href="javascript:;" title="Move Down" class="down">
					<i class="icon-arrow-down"></i>
				</a>
				
			</div>

			<div class="panel-title">
				<a id="linkSupportMaerial" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#mat_lesson_1" href="#mat_lesson_1_setup">
					<i class="glyphicon glyphicon-file inside-icon-plus"></i> 
					<span id="supportMaterial_title">Support Material 1</span>
				</a>
			</div>

			<div id="supMaterialDelButton" title="Delete" class="remove-btn">
				<i class="icon-remove"></i>
			</div>
			
		</div>
	  
   </div>
   
   #* BEGIN SETUP *#
   <div class="panel-collapse a1 collapse" id="divSupportMaterial_Setup" style="height: 2px;">
	 
	
   </div>
   #* END SETUP *#
   
</div>