<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Forgot Password</title>

	#* BEGIN CSS *#
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/bootstrap-3.1.1-dist/css/bootstrap.min.css" />
	
	<link rel="stylesheet" type="text/css" href="theme/executive/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style-metronic.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style.css" />
	<link rel="stylesheet" type="text/css" href="theme/executive/css/custom.css" />
        <link rel="shortcut icon" href="theme/executive/img/icons/favicon.ico" />
    #* END CSS *#
	
    #* BEGIN SCRIPTS *#
    <script type="text/javascript" src="theme/executive/plugins/jquery.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/bootstrap-3.1.1-dist/js/bootstrap.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/html5shiv.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/respond.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script type="text/javascript" src="theme/executive/plugins/BrowserDetect.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>

	
    <script type='text/javascript' src="theme/executive/scripts/core.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	#* END SCRIPTS *#
    
</head>

<body>
    <div class="wrapper">
	
		#* BEGIN TROUBLE *#
		<div class="container page-content ">
			<div class="login-center-form">
				<div class="logo" onclick="window.open('../Authoring_Program/','_self')" style="cursor:pointer"></div>
				<br/><br/>
				<div>
					<h2>Having trouble signing in?</h2>
					<form role="form" action="/lcms/credentialRetrievalBy" method="post" class="form-horizontal">
					  <div class="form-body">
						<div class="form-group">
							<label>
								<input type="radio" checked="checked" value="2" id="methodTypePassword" name="methodType" class="form-chkbox"> I don't know my password.
							</label>
						</div>
						<div class="form-group">
							<label>
								<input type="radio" value="1" id="methodTypeUserName" name="methodType" class="form-chkbox"> I don't know my username.
							</label>
						</div>
					  </div>
					  <div class="form-actions fluid">
						  <input class="btn blue btnCont" type="submit" style="min-width:80px" value="Continue" />
						  <input class="btn default" type="button" style="min-width:80px" onclick="window.open('/lcms/login','_self')" value="Cancel" />
					  </div>
					</form>
				</div>
			</div>
		</div>
		#* END TROUBLE *#
		
    </div>
	
	<script>
		$(document).ready(function ()
		{
			//	BEGIN APP **************************************************************
			/*APP.PLACEHOLDER_FIX();
			APP.PARALLAX();
			APP.PRELOAD();
			APP.EDIT_OR_VIEW_TOGGLE();
			APP.LEFT_NAV.init();
			APP.LEFT_NAV_COURSE_OUTLINE();
			APP.BODY_COLLAPSES();
			APP.APPLY_ROUNDED_CORNERS();
			APP.CKEDITOR("title-ckeditor", "TITLE");
			APP.CKEDITOR("cc-ckeditor", "CC");
			APP.CKEDITOR("text-ckeditor", "TEXT");
			APP.DATAGRID('#sample_1',true,true,true,true);*/
			//	END APP **************************************************************
		});
		
	</script>
</body>
</html>