<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Forgot Username</title>

	#* BEGIN CSS *#
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/bootstrap-3.1.1-dist/css/bootstrap.min.css" />
	
	<link rel="stylesheet" type="text/css" href="theme/executive/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style-metronic.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style.css" />
	<link rel="stylesheet" type="text/css" href="theme/executive/css/custom.css" />
        <link rel="shortcut icon" href="theme/executive/img/icons/favicon.ico" />
    #* END CSS *#
	
    #* BEGIN SCRIPTS *#
    <script type="text/javascript" src="theme/executive/plugins/jquery.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/bootstrap-3.1.1-dist/js/bootstrap.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/html5shiv.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/respond.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script type="text/javascript" src="theme/executive/plugins/BrowserDetect.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script type="text/javascript" src="theme/executive/plugins/formTracking.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script type="text/javascript" src="theme/executive/scripts/jquery.validate.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>

	
    <script type='text/javascript' src="theme/executive/scripts/core.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script src="javascript/vm_js/credential_retrieval_userName.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
	
	#* END SCRIPTS *#
    
</head>

<body>
    <div class="wrapper">
	
		#* BEGIN TROUBLE *#
		<div class="container page-content ">
			<div class="login-center-form">
				<div class="logo" onclick="window.open('../Authoring_Program/','_self')" style="cursor:pointer"></div>
				<br/><br/>
				<div>
					<h2>Forgot your username?</h2>
					<form id="frm_userNameReterieval" method="post" name="frm_userNameReterieval" role="form" class="form-horizontal" action="credentialRetrievalByUserName">
					  <div class="form-body">
						<div class="form-group">
						  <div class="input-icon">
							<span class="help-block">Enter your email address. <span class="red-text">*</span></span>
							<i class="icon-envelope"></i>
							<input type="text" name="userEmailAddress"  id="userEmailAddress" placeholder="Email" class="form-control" />
						  </div>
						</div>
						<div class="form-group">
						  <div class="input-icon">
							<span class="help-block">Enter the name on the account. <span class="red-text">*</span></span>
							<i class="icon-user"></i>
							<input type="text" name="userFirstName" id="userFirstName" placeholder="First name" class="form-control" />
						  </div>
						</div>
						<div class="form-group">
						  <div class="input-icon">
							<i class="icon-user"></i>
							<input type="text" name="userLastName" id="userLastName" placeholder="Last name" class="form-control" />
						  </div>
						</div>
					  </div>
					  <div class="form-actions fluid">
						  <input class="btn blue btnCont" type="submit" style="min-width:80px" value="Continue" />
						  <input class="btn default" type="button" style="min-width:80px" onclick="window.open('/lcms/credentialRetrievalMethod','_self')" value="Cancel" />
					  </div>
					</form>
				</div>
			</div>
		</div>
		#* END TROUBLE *#
		
    </div>
	
	<script>
		$(document).ready(function ()
		{
			//	BEGIN APP **************************************************************
			/*APP.PLACEHOLDER_FIX();
			APP.PARALLAX();
			APP.PRELOAD();
			APP.EDIT_OR_VIEW_TOGGLE();
			APP.LEFT_NAV.init();
			APP.LEFT_NAV_COURSE_OUTLINE();
			APP.BODY_COLLAPSES();
			APP.APPLY_ROUNDED_CORNERS();
			APP.CKEDITOR("title-ckeditor", "TITLE");
			APP.CKEDITOR("cc-ckeditor", "CC");
			APP.CKEDITOR("text-ckeditor", "TEXT");
			APP.DATAGRID('#sample_1',true,true,true,true);*/
			//	END APP **************************************************************
		});
	</script>
</body>
</html>