<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Forgot Password</title>

	#* BEGIN CSS *#
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/plugins/bootstrap-3.1.1-dist/css/bootstrap.min.css" />

	<link rel="stylesheet" type="text/css" href="theme/executive/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style-metronic.css" />
    <link rel="stylesheet" type="text/css" href="theme/executive/css/style.css" />
	<link rel="stylesheet" type="text/css" href="theme/executive/css/custom.css" />
       <link rel="shortcut icon" href="theme/executive/img/icons/favicon.ico" />
    #* END CSS *#
	
    #* BEGIN SCRIPTS *#
    <script type="text/javascript" src="theme/executive/plugins/jquery.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/bootstrap-3.1.1-dist/js/bootstrap.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/html5shiv.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
    <script type="text/javascript" src="theme/executive/plugins/respond.min.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	<script type="text/javascript" src="theme/executive/plugins/BrowserDetect.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	
    <script type='text/javascript' src="theme/executive/scripts/core.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>
	#* END SCRIPTS *#
    
</head>

<body>
    <div class="wrapper">
	
		#* BEGIN TROUBLE *#
		<div class="container page-content ">
			<div class="login-center-form">
				<div class="logo"></div>
			</div>
			<div style="margin: 30px auto; max-width: 600px; ">
			<div class="portlet">
			  <div class="portlet-body">
				<p> An email with your login information has been sent to you.</p>
				<p>Please check your junk mail folder if you do not receive the email in a reasonable amount of time.</p>
				<p>For further assistance, please contact Customer Support at 1-(877)-881-2235.</p>
				<p>Corporate students please call our Corporate Support help desk at 1-(866)-991-3920.</p>
				<p>&nbsp;</p>
				<input class="btn blue btnCont" type="button" onclick="window.open('/lcms/login','_self')" style="min-width:80px" value="Back to login" />
			  </div>
			</div>
		</div>
		</div>
		#* END TROUBLE *#
		
    </div>
	
	<script>
		$(document).ready(function ()
		{
			//	BEGIN APP **************************************************************
			/*APP.PLACEHOLDER_FIX();
			APP.PARALLAX();
			APP.PRELOAD();
			APP.EDIT_OR_VIEW_TOGGLE();
			APP.LEFT_NAV.init();
			APP.LEFT_NAV_COURSE_OUTLINE();
			APP.BODY_COLLAPSES();
			APP.APPLY_ROUNDED_CORNERS();
			APP.CKEDITOR("title-ckeditor", "TITLE");
			APP.CKEDITOR("cc-ckeditor", "CC");
			APP.CKEDITOR("text-ckeditor", "TEXT");
			APP.DATAGRID('#sample_1',true,true,true,true);*/
			//	END APP **************************************************************
		});
	</script>
</body>
</html>