#parse("header.vm")
#parse("leftPanel.vm")
#parse("breadcrumb.vm")
#parse("classinstructor_modal.vm")
#*#parse("classinstructor_list.vm")*#
<script src="javascript/vm_js/instructor.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/messageTopBar.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/constants.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/branding_en_US.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/branding_en_GB.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>

<script>

$(document).ready(function() {
	 #set($msg = $request.getParameter("msg"))
    $("#varCourseId").val(getUrlParameter ('id'));
	var cType = getParameterByName('cType');

	$('#nav_instructor').addClass('active');

    //initialize and populate jquery datatables
    /*var tableExtention = {
        "processing": true,
        "serverSide": true,
        "sAjaxSource": "classInstructors",
        "columns": [
            { "data": "" },
            { "data": "firstName" },
            { "data": "lastName" },
            { "data": "email" },
            { "data": "phoneNo" },

        ]
    };
    APP.SEARCHGRID.init("#instructor_table", true, true, {pageSize: 5}, tableExtention);
    table = $("#instructor_table").DataTable();
*/
    TableManaged.tool_html = '<div class="btn-group pull-right"><a class="btn btn-default"  onclick="reset_modal()" href="javascript:table_minus_plus(\'PLUS\');" title="#springMessage('label.instructor.add')"><i class="icon-plus blue-text"></i></a><a class="btn btn-default disabled" disabled="disabled" id="instructor-delete-btn" href="javascript:table_minus_plus(\'MINUS\');" title="#springMessage('label.instructor.delete')"><i class="icon-minus red-text"></i></a></div>';
    oTb =APP.SEARCHGRID.init('#instructor_table',false,true);
    instructor_list();


    /*$("#instructor_table").dataTable( {
        "processing": true,
        "serverSide": true,
        "sAjaxSource": "classInstructors",
            "columns": [
            { "data": "firstName" },
            { "data": "lastName" },
            { "data": "email" },
            { "data": "phoneNo" },

        ]

    } );
*/

});

</script>
               #* BEGIN PAGE CONTENT *#
                <div class="page-content">

				   #* BEGIN PAGE HEADINGS *#
				   <div class="portlet">
					<div class="portlet-body">
						<div class="page-heading">
							<div class="col-xs-12 zero-padding">
								<h1>
								#if ($!{cType} == 6)
		                            #springMessage('label.instructor')
								#elseif ($!{cType} == 5)
									#springMessage('label.provider')
								#end
								</h1>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				   </div>
                   #* END PAGE HEADINGS *#
				    <div class="portlet">
		<div class="messages" id="msgdiv" ></div>

				    #if( $!{msg}=="success")
						<div class="messages">
						  <div role="alert" class="alert alert-success alert-dismissible fade in">
							<button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only"> #springMessage('button.close')</span> </button>
							 #springMessage('message.save-message')
						  </div>

						</div>
						<script type="text/javascript"> elementFadeOut('.messages'); </script>


					   <script type="text/javascript"> elementFadeOut('.messages'); </script>
						</div>

						 #elseif( $failureMessage )
						   <div class="messages">
							  <div role="alert" class="alert alert-danger alert-dismissible fade in">
								<button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">#springMessage('button.close')</span> </button>
								 $!{failureMessage}
								</div>

							</div>
						<script type="text/javascript"> elementFadeOut('.messages'); </script>
				   #end



                   #* BEGIN SUMMARY FORM PORTLET *#


                      <div class="portlet-body form">
                         <form action="saveInstructor" class="form-horizontal" method="post" role="form" id="frm_instructor">
						     <input type="hidden" id="varCourseId" class="form-control" placeholder="" name="varCourseId">
							 <input type="hidden" id="varSyncClassId" class="form-control" value="$!{syncClassVO.syncClassId}" name="varSyncClassId">
							 <input type="hidden" id="name" class="form-control" value="$!{courseObj.name}" name="name">
							 <input type="hidden" id="synccoursetype" class="form-control" value="$!{courseObj.courseType}" name="synccoursetype">
							 <input type="hidden" id="CourseID" class="form-control" value="$!{courseObj.bussinesskey}" name="CourseID">
							 <input type="hidden" id="cType" class="form-control" value="$!{cType}" name="cType">
							 <input type="hidden" id="courseProviderId" class="form-control" value="$!{syncClassVO.courseProviderId}" name="courseProviderId">
                             <input type="hidden" id="classInstructorId" class="form-control" value="$!{classInstructorVO.id}" name="classInstructorId">
							 	#if ($!{cType} == 5)
							<div class="portlet portlet-btn">
							<div title="#springMessage('label.vendor')" class="portlet-title">
								<div class="caption">
		                            #springMessage('label.vendor')
		                         </div>
		                         <div class="tools">
		                            <a href="javascript:;" class="collapse" ></a>
		                         </div>
                      		</div>
                            <div class="portlet-body form">
								<div class="heading-bottom-text" style="display: block;">
								Vendor will be informed of all enrollments in the classroom course. The vendor is responsible to inform all enrolled students of any changes made to their schedule.
							 </div>
                            <div class="form-horizontal">
                             <div class="form-body">
                               <div class="form-group">
                               <div class="col-md-6">
                                  <label class="control-label-2">#springMessage('label.full-name')<span class="required">*</span></label>

                                     <input type="text" class="form-control" id="full_name" name="full_name" value="$!{syncClassVO.fullName}" placeholder="#springMessage('label.enter-full-name')" maxlength="255" >

                                </div>
                               </div>
                               <div class="form-group">
                                   <div class="col-md-6">
								  <label class="control-label-2">#springMessage('label.email-address')<span class="required">*</span></label>

									 <input type="text" class="form-control" id="email_address" name="email_address" value="$!{syncClassVO.emailAddress}" placeholder="#springMessage('label.enter-email-address')."  maxlength="255">
								  </div>
							   </div>
							    <div class="form-group">
                                    <div class="col-md-6">
								  <label class="control-label-2">#springMessage('label.phone-number')<span class="required">*</span></label>

									 <input type="text" class="form-control" id="phone_no" name="phone_no" value="$!{syncClassVO.providerPhoneNo}" placeholder="#springMessage('label.phone-number')."  maxlength="50">
								  </div>
							   </div>
                               </div>
                                </div>
							</div>
						</div>

							 #end
						<div class="portlet portlet-btn">
							<div title="#springMessage('label.instructor')" class="portlet-title">
		                         <div class="caption">
		                            #springMessage('label.instructor')
		                         </div>
		                         <div class="tools">
		                            <a href="javascript:;" class="collapse" ></a>
		                         </div>
                      		</div>
                            <div class="portlet-body form">
							#if ($!{cType} == 5)
                                <table class="table table-striped table-bordered table-hover table-full-width" id="instructor_table">
                                    <thead>
                                    <tr>
                                        <th width="10"><input type="checkbox" onclick="APP.CHECKBOX_WITH_BTN(this,true,'instructor-delete-btn')" name="classinstructor_checkbox_parent" class="checker"></th>
                                        <th>#springMessage('label.instructor.firstname')</th>
                                        <th>#springMessage('label.instructor.lastname')</th>
                                        <th>#springMessage('label.instructor.email')</th>
                                        <th>#springMessage('label.instructor.phone')</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
								#else
								<div class="form-group">
                                  <label class="col-md-3 control-label">#springMessage('label.first-name')<span class="required">*</span></label>
                                  <div class="col-md-6">
                                     <input type="text" class="form-control" id="presenter_firstname" name="presenter_firstname" value="$!{classInstructorVO.presenterFirstName}" placeholder="#springMessage('label.enter-first-name')."  maxlength="50">
                                  </div>
                               </div>
                               <div class="form-group">
								  <label class="control-label col-md-3">#springMessage('label.last-name')<span class="required">*</span></label>
								  <div class="col-md-6">
									 <input type="text" class="form-control" id="presenter_lastname" name="presenter_lastname" value="$!{classInstructorVO.presenterLastName}" placeholder="#springMessage('label.enter-last-name')."  maxlength="50">
								  </div>
							   </div>
							   <div class="form-group">
								  <label class="control-label col-md-3">#springMessage('label.email-address')<span class="required">*</span></label>
								  <div class="col-md-6">
									 <input type="text" class="form-control" id="presenter_email" name="presenter_email" value="$!{classInstructorVO.presenterEmail}" placeholder="#springMessage('label.enter-email-address')."  maxlength="100">
								  </div>
							   </div>
							   <div class="form-group">
                                  <label class="col-md-3 control-label">#springMessage('label.phone-number')<span class="required">*</span></label>
                                  <div class="col-md-6">
                                     <input type="text" class="form-control" id="presenter_phonenumber" name="presenter_phonenumber" value="$!{classInstructorVO.presenterPhone}" placeholder="#springMessage('label.enter-phone-number')."  maxlength="50">
                                  </div>
                               </div>
                                   #*<table class="table table-striped table-bordered table-hover table-full-width" id="instructor_table">
                                       <thead>
                                       <tr>
                                           <th width="10"><input type="checkbox" onclick="APP.CHECKBOX_WITH_BTN(this,true,'loc-delete-btn')" class="checker"></th>
                                           <th>First Name</th>
                                           <th>Last Name</th>
                                           <th>Email</th>
                                           <th>Phone Number</th>
                                       </tr>
                                       </thead>
                                       <tbody>

                                       </tbody>
                                   </table>*#
							#end
                            </div>
                            <div class="form-actions fluid">
                               <div >
                                  <button type="Submit" id="btnSave" class="btn blue input-small" onclick="return emailVerify($!{cType})">#springMessage('button.save')</button>
                               </div>
                            </div>
						</div>
                         </form>
                      </div>
                   </div>
                   #* END SUMMARY FORM PORTLET *#

                </div>
                #* END PAGE CONTENT *#
#parse("footer.vm")