		#* BEGIN MODALS *#
		<div class="modals">			
			#* BEGIN CONFIRMATION *#
			<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmation-label" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title" id="confirmation-label">
						
						#* Dynamic Title *#
						
					</h3>
				  </div>
				  <div class="modal-body">
				
					#* Dynamic Message *#
					
				  </div>
				  <div class="modal-footer">
				  
					#* Dynamic Action Buttons *#
					
				  </div>
				</div>
			  </div>
			</div>
			#* END CONFIRMATION *#

    		
			</div>

