#parse("header.vm")
#parse("leftPanel.vm")
#parse("breadcrumb.vm")
<script src="javascript/vm_js/publishing.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/branding_en_GB.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/branding_en_US.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>

#* BEGIN CONFIRMATION *#
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmation-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">#springMessage('button.close')</span></button>
                <h3 class="modal-title" id="confirmation-label">

				#* Dynamic Title *#

                </h3>
            </div>
            <div class="modal-body">

			#* Dynamic Message *#

            </div>
            <div class="modal-footer">

			#* Dynamic Action Buttons *#

            </div>
        </div>
    </div>
</div>
#* END CONFIRMATION *#

#* BEGIN PAGE CONTENT *#
<div class="page-content">

#* BEGIN PAGE HEADINGS *#
    <div class="portlet">
        <div class="portlet-body">
            <div class="page-heading">
                <div class="col-xs-12 zero-padding">
                    <h1>#springMessage('label.publish-course')</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
#* END PAGE HEADINGS *#

	#set( $criteria = "true" )
    <br>

#* END TEXT *#
    <div>
		#springMessage('course.publish.course.message')
    </div>
#* END TEXT *#

    <br/>

<div class="portlet portlet-btn">
    <div class="portlet-title" title="#springMessage('label.publish.criteria')">
        <div class="caption">
			#springMessage('label.publish.criteria')
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
#* start - success message *#
	#if( $!{msg}=="success" )
        <div class="messages">
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">#springMessage('button.close')</span> </button>
				#springMessage('message.publish.save-message')
            </div>

        </div>
        <script type="text/javascript"> elementFadeOut('.messages'); </script>
	#elseif( $failureMessage )
        <div class="messages">
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">#springMessage('button.close')</span> </button>
				$!{failureMessage}
            </div>
        </div>
        <script type="text/javascript"> elementFadeOut('.messages'); </script>
	#end
	#set( $disablePublish = "true" )
	#if ($!{command.IsScheduleSet}=="true" && $!{command.IsPresenterSet}=="true" && ($!{command.IsClassRoomSet}=="true" || $!{command.IsMeetingSet}=="true" ) && $!{command.IsAuthorInfoProvided}=="true")
		#set( $disablePublish = "false" )
	#end
	#if ($disablePublish == "true")
        <div class="messages">
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">#springMessage('button.close')</span> </button>
				#springMessage('label.publish.completion-criteria')
            </div>
        </div>
        <script type="text/javascript"> elementFadeOut('.messages'); </script>
	#end
#* BEGIN COMPLETION CHECK FORM *#

        <div heading-bottom-text>
			#springMessage('course.publish.completion-check-message')
        </div>
        <div class="form-horizontal">
            <table class="table bg-gray-2">
                <tbody>
					#if ($!{cType} == 5)
						#if ($!{command.IsScheduleSet}=="true")
                        <tr>
                            <td>#springMessage('label.schedule-has-been-set')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.schedule-has-been-set')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
 						#if ($!{command.IsPresenterSet}=="true")
                        <tr>
                            <td>#springMessage('label.instructor-has-been-set')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.instructor-has-been-set')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
						#if ($!{command.IsClassRoomSet}=="true")
                        <tr>
                            <td>#springMessage('label.classroom-setup-has-been-specified')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.classroom-setup-has-been-specified')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
					#end
 					#if ($!{cType} == 6)
  						#if ($!{command.IsScheduleSet}=="true")
                        <tr>
                            <td>#springMessage('label.schedule-has-been-set-W')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.schedule-has-been-set-W')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
   						#if ($!{command.IsPresenterSet}=="true")
                        <tr>
                            <td>#springMessage('label.instructor-has-been-set')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.instructor-has-been-set')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
 						#if ($!{command.IsMeetingSet}=="true")
                        <tr>
                            <td>#springMessage('label.webinar-setup-has-been-specified')</td>
                            <td class="text-right  green-text">
                                <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                            </td>
                        </tr>
						#else <tr class="error">
							#set( $criteria="false" )
                            <td>#springMessage('label.webinar-setup-has-been-specified')</td>
                            <td class="text-right">
                                <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                            </td>
                        </tr>
						#end
					#end
 					#if ($!{command.IsAuthorInfoProvided}=="true")
                    <tr>
                        <td>#springMessage('label.author-information-provided-marketing-area')</td>
                        <td class="text-right  green-text">
                            <h3 class="glyphicon glyphicon-ok-sign zero-margin"></h3>
                        </td>
                    </tr>
					#else <tr class="error">
						#set( $criteria="false" )
                        <td>#springMessage('label.author-information-provided-marketing-area')</td>
                        <td class="text-right">
                            <h3 class="glyphicon  glyphicon-remove-sign zero-margin"></h3>
                        </td>
                    </tr>
					#end
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="portlet portlet-btn">
   <div class="portlet-title" title="#springMessage('label.publishing.settings')">
        <div class="caption">
        	#springMessage('label.publishing.settings')
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
        </div>
   </div>

		#* END COMPLETION CHECK FORM *#
    <div class="portlet-body" style="display: block;">
        <form class="form-horizontal" action ="publishCourse" role="form" method="Post" id="frm_webinar_publish">
			#springBind("id")
            <input type="hidden"  name="id" id="id" value="$!{id}">

			#springBind("cType")
            <input type="hidden"  name="cType" id="cType" value="$!{cType}">

			#springBind("command.courseName")
            <input type="hidden"  name="$!{status.expression}" id="$!{status.expression}" value="$!{status.value}">

			#springBind("command.bussinessKey")
            <input type="hidden"  name="$!{status.expression}" id="$!{status.expression}" value="$!{status.value}">
		#* BEGIN SETTINGS FOR UPDATE PUBLISHING FORM *#
            <div class="form-horizontal">
                <div class="form-body">
                    <table class="table bg-gray-2">
                        <tbody>
 							#if ($!{command.publishStatus}=="false")
                            <tr>
                                <td> #springMessage('label.publish-only-to-the-learning-management-center')</td>
                                <td class="text-right">
                                    <div id="publisToLMSBtn" class="make-switch" data-on="primary" data-off="default" data-on-label="Yes" data-off-label="No">
                                        <input type="checkbox" name="publishLMS" id="publishLMS">
                                    </div>
                                </td>
                            </tr>
								#if ($!{command.contentOwnerStoreFront}=="true")
                                <tr>
                                    <td> #springMessage('label.publish.my.store.front')</td>
                                    <td class="text-right">
                                        <div id="publisToSFBtn" class="make-switch" data-on="primary" data-off="default" data-on-label="Yes" data-off-label="No">
                                            <input type="checkbox" name="publishSF" id="publishSF">
                                        </div>
                                    </td>
                                </tr>
								#end
							#end
							#if ($!{command.publishStatus}=="true")
                            <tr>
                                <td>#springMessage('label.update.publish-only-to-the-learning-management-center')</td>
                                <td class="text-right">
                                    <div id="publisToLMSBtn" class="make-switch" data-on="primary" data-off="default" data-on-label="Yes" data-off-label="No">
                                        <input type="checkbox" name="updateLMS" id="updateLMS">
                                    </div>
                                </td>
                            </tr>
								#if ($!{command.contentOwnerStoreFront}=="true")
                                <tr>
                                    <td> #springMessage('label.update.publish.my.store.front')</td>
                                    <td class="text-right">
                                        <div id="publisToSFBtn" class="make-switch" data-on="primary" data-off="default" data-on-label="Yes" data-off-label="No">
                                            <input type="checkbox" name="updateSF" id="updateSF">
                                        </div>
                                    </td>
                                </tr>
								#end
							#end
							#if ($!{command.publishStatus}=="true")
                            <tr id="offerInitial" class="hide">
                                <td>#springMessage('label.publish.market.place')<br>
                                    <span class="help-block">#springMessage('label.publish.market.place.initial.message')</span></td>
                                <td class="text-right">
                                    <div id="publisTo360Btn" class="make-switch" data-on="primary" data-off="default" data-on-label="Yes" data-off-label="No">
                                        <input type="checkbox" name="publis360Btn" id="publis360Btn">
                                    </div>
                                </td>
                            </tr>
							#end
                        <tr id="offerInprogress" class="hide">
                            <td colspan="2">
                                <div class="alert alert-info zero-margin">
                                    <h2><strong>#springMessage('label.publish.looking.offer')</strong></h2>
                                    <br>
                                    <p>#springMessage('label.publish.progress.message')</p>
                                    <br>
                                    <p><strong>#springMessage('label.publish.offer.success.offer.msrp') $!{number.currency($command.offerPrice)} #springMessage('label.publish.offer.success.offer.lowest') $!{number.currency($command.lowestPrice)}.</strong></p>
								#*<u><p>#springMessage('label.publish.offer.success.communicate.email') <a href="mailto:ls360.authors.add@360training.com" class="anchor">#springMessage('label.publish.offer.success.email')</a> #springMessage('label.publish.offer.success.include.email')</p></u>*#
                                    <small>#springMessage('label.publish.offer.inprogress.sale')</small>
                                    <br><br><a href="javascript:cancelOffer(false);" class="btn btn-default">#springMessage('label.publish.offer.cancel.offer')</a>
                                </div>
                            </td>
                        </tr>
                        <tr id="offerFail" class="hide">
                            <td colspan="2">
                                <div class="alert alert-danger zero-margin">
                                    <h2><strong>#springMessage('label.publish.offer.not.accepted')</strong></h2>
                                    <br>
                                    <p>#springMessage('label.publish.offer.check.email')</p>
                                    <br><a href="javascript:cancelOffer(false);" class="btn btn-default">#springMessage('label.publish.offer.cancel.offer')</a>
                                </div>
                            </td>
                        </tr>
                        <tr id="offerSuccess" class="hide">
                            <td colspan="2">
                                <div class="alert alert-success zero-margin">
                                    <h2><strong>#springMessage('label.publish.offer.success.accepted')</strong></h2>
                                    <br>
                                    <p>#springMessage('label.publish.offer.success.communicate.email') <a href="mailto:ls360.authors.add@360training.com" class="anchor">#springMessage('label.publish.offer.success.email')</a> #springMessage('label.publish.offer.success.include.email'):</p>
                                    <br>
                                    <ul>
                                        <li>#springMessage('label.title-of-the-course')</li>
                                        <li>#springMessage('default.SearchHeaderCourseID')</li>
                                        <li>#springMessage('label.username-of-the-account-owner')</li>
                                    </ul>
                                    <br>
                                    <p><strong>#springMessage('label.publish.offer.success.communicate.email') <a href="mailto:ls360.authors.add@360training.com" class="anchor">#springMessage('label.publish.offer.success.email')</a> #springMessage('label.publish.offer.success.include.email')</strong></p>
                                    <small>#springMessage('label.publish.offer.success.resellers')</small>
                                </div>
                            </td>
                        </tr>
                        <tr id="offerPrice" class="hide">
                            <td colspan="2">
                                <div class="collapse" id="collapseExample">
                                    <ul class="list-inline hint-in-table">
                                        <li class="top"><img src="theme/executive/img/offer-price.png" style="width:100%"></li>
                                        <li class="middle">
                                            <div>
                                                <label class="control-label-2">#springMessage('label.publish.offer.price.list.price')<span class="required">*</span></label>
                                                <div class="input-icon">
                                                    <i class="icon-usd"></i>
                                                    <input type="number" id="mSRP"  name="mSRP" class="form-control" placeholder="0.00" #if($command.offerPrice != 1.0) value="$!{command.offerPrice}" #end>
                                                </div>
                                            </div>
                                            <div>
                                                <label class="control-label-2">#springMessage('label.publish.offer.price.lowest')<span class="required">*</span></label>
                                                <div class="input-icon">
                                                    <i class="icon-usd"></i>
                                                    <input type="number" class="form-control" id="lowestSalePrice"  name="lowestSalePrice" placeholder="0.00" #if($command.lowestPrice != 0.0) value="$!{command.lowestPrice}" #end>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

			#* END SETTINGS FOR UPDATE PUBLISHING FORM *#

		#* BEGIN ACTION BUTTONS *#
            <div class="portlet">
                <div class="portlet-body">
                    <button id="publishBtn" type="button" #if ($disablePublish == "true") disabled #end class="btn blue input-small"  onClick ="ProceedtoPublishWebinarClassRoom('frm_webinar_publish',thisCourse.validation)">#springMessage('button.publish')</button>
                    #if($!{command.lastPublishDate})<small id="publish_stamp" class="help-block">Last Published on $!{command.lastPublishDate}</small>#end
                </div>
            </div>
		#* BEGIN ACTION BUTTONS *#
        </form>
    </div>
</div>
	#* END PAGE CONTENT *#

#parse("footer.vm")

<script>
var thisCourse = {criteria:true,lms:false,sf:false,threesixty:false,offerState:0,validation:true};
$(document).ready(function() {
    APP.PLACEHOLDER_FIX();
    APP.EDIT_OR_VIEW_TOGGLE();
    APP.BODY_COLLAPSES();
    APP.LEFT_NAV.init("OPEN", "nav_accordion_3");
    $('#lnkWebinarPublishing a').addClass('active');
    $("#frm_publish").trackChanges();
    $("#currentFormName").val("frm_publish");
    var courseId = getUrlParameter ('id');
    var cType = getUrlParameter ('cType');
    APP.AJAX({
        url: "displayOfferPage",
        dataType: "text",
        type: "POST",
        cache: false,
        data:'hidCourseId='+courseId+'&cType='+cType,
        async: false,
        success: function(response) {
            obj = $.parseJSON(response);
            if(obj.result.offerStatus=="Accepted"){
                thisCourse.offerState=3;
            }else if(obj.result.offerStatus=="Rejected"){
                thisCourse.offerState=2;
            }else if(obj.result.offerStatus=="Pending"){
                thisCourse.offerState=1;
            }
        }
    });
    publishCases();
    $('#collapseExample').on('hidden.bs.collapse', function () {
        if(thisCourse.threesixty)
        {
            $("#offerPrice").removeClass("hide");
        }
    });
    $('.make-switch').on('switch-change', function (e, data) {
        switch($(this).attr("id"))
        {
            case "publisToLMSBtn":
                thisCourse.lms = data.value;
                $("#publishLMS").val(data.value)
                break;
            case "publisToSFBtn":
                thisCourse.sf = data.value;
                $("#publishSF").val(data.value)
                break;
            case "updateToLMSBtn":
                thisCourse.lms = data.value;
                $("#updateLMS").val(data.value)
                break;
            case "updateToSFBtn":
                thisCourse.sf = data.value;
                $("#updateSF").val(data.value)
                break;

            case "publisTo360Btn":
                thisCourse.threesixty = data.value;
                $("#publis360Btn").val(data.value)
                if(data.value)
                {
                    $("#offerPrice").removeClass("hide");
                    $("#collapseExample").collapse('show');
                    var val =  $("#offerPrice").offset().top-100;
                    $("html,body").animate({scrollTop: val},600);
                    $("label.error").hide();
                    $(".error").removeClass("error");
                    $("#offerPrice #mSRP").val("");
                    $("#offerPrice #lowestSalePrice").val("");
                }
                else
                {
                    $("#collapseExample").collapse('hide');
                }
                break;
        }
        publishBtnToggling();
    });
});

function publishCases()
{
    publishBtnToggling();
    $("#offerInitial").addClass("hide");
    $("#offerInprogress").addClass("hide");
    $("#offerFail").addClass("hide");
    $("#offerSuccess").addClass("hide");
    switch(thisCourse.offerState)
    {
        case 0:
            $("#offerInitial").removeClass("hide");
            break;
        case 1:
            $("#offerInprogress").removeClass("hide");
            break;
        case 2:
            $("#offerFail").removeClass("hide");
            break;
        case 3:
            $("#offerSuccess").removeClass("hide");
            break;
    }
}

function publishBtnToggling()
{
    if($("#publishLMS").val()!=undefined && $criteria && thisCourse.lms)
    {
        $("#publishBtn").removeAttr("disabled").removeClass("disabled");
        thisCourse.validation=false;

    }
    else if ($("#publishLMS").val()==undefined && $criteria && ( thisCourse.lms || thisCourse.sf || (thisCourse.threesixty && thisCourse.offerState == 0)))
    {
        $("#publishBtn").removeAttr("disabled").removeClass("disabled");
        thisCourse.validation=true;
    }
    else
    {
        $("#publishBtn").attr("disabled","disabled").addClass("disabled");
    }
}

function cancelOffer(isConfirmed)
{
    if(!isConfirmed)
    {
        //	BEGIN - MODAL BOX -------------------------------
        var $trgModal = $("#confirmationModal");
        //	BEGIN TITLE, MESSAGE AND BUTTONS
        var title = '#springMessage('label.publish.cancel-offer.modal.title')';
        var msg = '#springMessage('label.publish.cancel-offer.modal.msg')';
        var btns = '<button type="button" class="btn blue" onclick="cancelOffer(true)" data-dismiss="modal" style="text-transform: uppercase">#springMessage('label.yes')</button>'+
                '<button type="button" class="btn btn-default" data-dismiss="modal" style="text-transform: uppercase">#springMessage('label.no')</button>';
        //	END TITLE, MESSAGE AND BUTTONS
            $trgModal.find(".modal-title").html(title);
            $trgModal.find(".modal-body").html(msg);
            $trgModal.find(".modal-footer").html(btns);
            $trgModal.modal('show');
        //	END - MODAL BOX --------------------------------
    }
    else
    {
        if(requestToCancelOffer()) {
            thisCourse.threesixty = false;
            thisCourse.offerState = 0;
            publishCases();
            $('#publisTo360Btn').bootstrapSwitch('setState', false);
        }
    }
}


</script>