#parse("header.vm")
#parse("leftPanel.vm")
#parse("breadcrumb.vm")
#parse("branding.vm")
<script src="javascript/vm_js/availability.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="theme/executive/plugins/datepicker/css/datepicker.css" />
<script type="text/javascript" src="theme/executive/plugins/datepicker/js/bootstrap-datepicker.js?#springMessage('js.version-param-name')=#springMessage('js.version')"></script>


#* BEGIN PAGE CONTENT *#
       <div class="page-content">
				
				   #* BEGIN PAGE HEADINGS *#
				   <div class="portlet">
						<div class="portlet-body">
							<div class="page-heading">
								<div class="col-xs-12 zero-padding">
									<h1>Availability</h1>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
				   </div>
                   #* END PAGE HEADINGS *#
				   
				   <br>
				   
				   	#* start - success message *#
                     #if( $!{msg}=="success" )
                            <div class="messages">
        		              <div role="alert" class="alert alert-success alert-dismissible fade in">
        		                <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">Close</span></button>
        		                #springMessage('message.save-message')
        					  </div>
        					 
        		            </div>
							<script type="text/javascript"> elementFadeOut('.messages'); </script>
        				   
                     #elseif( $!failureMessage )  
                       <div class="messages">
                       <div role="alert" class="alert alert-danger alert-dismissible fade in">
                        <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">Close</span> </button>
                         $!{failureMessage} 
                        </div>
					   </div>
					   <script type="text/javascript"> elementFadeOut('.messages'); </script>
                   #end
				    <form class="form-horizontal" action ="updadeCourseAvailability" method="Post" role="form"  id="frm_availability" >
                   #* BEGIN CATEGORY FORM *#
                   <div class="portlet portlet-btn">
                      <div class="portlet-title" title="Category">
                         <div class="caption">
                            Category
                         </div>
                         <div class="tools">
                            <a href="" class="collapse"></a>
                         </div>
                      </div>
                      <div class="portlet-body form">
                       
                        
						<input type="hidden"  name="name" id="name" value="$!availability.courseName">
						
						<input type="hidden"  name="cType" id="cType" value="6">
						
						<input type="hidden"  name="businessKey" id="businessKey" value="$!availability.businessKey">
                            <div class="form-body">
							   <div class="form-group">
								  <label class="col-md-3 control-label">Industry</label>
								  <div class="col-md-6 input-group">
									 <select class="form-control" id="industry" name="industry">
									 	#foreach($!indusrty in $!industryList)
									 		<option value="$!indusrty" #if($!availability.industry == $!indusrty) selected #end>$!indusrty</option>
									 	#end
									  </select>
									 <span class="input-group-addon">
										
									 </span>
								  </div>
							   </div>
							   <div class="form-group">
								  <label class="col-md-3 control-label">Standard course group</label>
								  <div class="col-md-6 input-group">
									 <select class="form-control" id="standardCourseGrpName" name="standardCourseGrpName">
                                        <option value="$!availability.courseGroupId">$!availability.courseGroupName</option>
                                     </select>
									 <span class="input-group-addon">
										
									 </span>
								  </div>
							   </div>
							</div>							
							
								
					  </div>
				   </div>
                   #* END CATEGORY FORM *#
				   
							 #* BEGIN FLAGS FORM *#
			                   <div class="portlet portlet-btn">
			                      <div class="portlet-title" title="Flags">
			                         <div class="caption">
			                            Flags
			                         </div>
			                         <div class="tools">
			                            <a href="" class="collapse"></a>
			                         </div>
			                      </div>
			                      <div class="portlet-body form">
			                        <div class="form-horizontal">
			                            <div class="form-group">
										  <label class="col-md-3 control-label"></label>
										  <div class="col-md-6">
											<div class="form-list">
												<div>
													<input id="eligibleForMobileTablet" name="eligibleForMobileTablet" type="checkbox" #if($!availability.eligibleForMobileTablet) value="true" checked #end onclick='toggleCheckBox(this)' >
													<span>Not eligible for mobile-tablet.</span>
													
												</div>
												<div>
													<input id="subscription"" name="subscription" type="checkbox"  #if($!availability.eligibleForSubscription) value="true"  checked #end onchange='toggleCheckBox(this)'>
													<span>Not eligible for subscription.</span>
													
												</div>
												<div>
													<input id="varResale" name="varResale" type="checkbox"  #if($!availability.eligibleForVARresale) value="true"  checked #end onclick='toggleCheckBox(this)'>
													<span>Not eligible for VAR resale.</span>
													
												</div>											
												<div>
													<input id="reportingToRegulator" name="reportingToRegulator" type="checkbox"  #if($!availability.requireReportToRegulator) value="true"  checked #end onclick='toggleCheckBox(this)'>
													<span>Requires reporting to regulator.</span>
													
												</div>
												<div>
													<input id="requireShippableItems" name="requireShippableItems" type="checkbox"  #if($!availability.requireShippableItems) value="true"  checked #end onclick='toggleCheckBox(this)'>
													<span>Requires shippable items.</span>
													
												</div>
												<div>
													<input id="thirdPartyCourse" name="thirdPartyCourse" type="checkbox"  #if($!availability.isThirdpartyCourse) value="true"  checked #end onclick='toggleCheckBox(this)'>
													<span>Third-party course.</span>
													
												</div>
											</div>
										  </div>
			                            </div>
										<div class="form-actions fluid">
			                               <div class="col-md-offset-3 col-md-9">
			                               	   <input type="hidden" id="id" name="id" value="$!availability.id"/>
			                                  <button type="Submit" class="btn blue">Save</button>
			                                  <button type="button" class="btn default" onClick="location.href='/lcms/editClassroomWebinarCourse?id=$!availability.id&cType=6'">Cancel</button>   	                            
			                               </div>
			                            </div>
									</div>
								  </div>
							   </div>
			                   #* END FLAGS FORM *#
					</form>
                </div>
#* END PAGE CONTENT *#

<script>
	function toggleCheckBox(element){

		var id = document.getElementById(element.id);
		if(id.checked){
			id.value="true"
		}else{
			id.value="false"
		}
	}
</script>

#parse("footer.vm")

