#parse("header.vm")
#parse("leftPanel.vm")
#parse("breadcrumb.vm")
#parse("branding.vm")

#* BEGIN PAGE CONTENT *#
        <div class="page-content">
        
           #* BEGIN PAGE HEADINGS *#
           <div class="portlet">
            <div class="portlet-body">
                <div class="page-heading">
                    <div class="col-xs-12 zero-padding">
                        <h1>#springMessage('label.overview')</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
           </div>
           #* END PAGE HEADINGS *#
           <div class="messages" id="msgdiv" ></div>
		   
           
           
           #* start - success message *#
           #if( $failureMessage )		
		   		<div class="messages">
				  <div role="alert" class="alert alert-danger alert-dismissible fade in">
				    <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">&#215;</span><span class="sr-only">#springMessage('button.close')</span> </button>
				    	$!{failureMessage} 
				    </div>
				    elementFadeOut('.messages');
				</div>
           #end
           #* end - success message *#
           
           #* BEGIN SUMMARY FORM PORTLET *#
           <div class="portlet">
              <div class="portlet-body form">
              <form action="createClassroomWebinarCourse" class="form-horizontal" method="Post"  role="form" id="frm_overview">
              		<input type="hidden" id="cType" name="cType" value="$cType" />
              		<input type="hidden" name="duration" id="duration"/>
                    <div class="form-body">
                       <div class="form-group">
                          <label id="overview-title" class="col-md-3 control-label"><span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content=#springMessage('tt.overview.title_webinar')">#springMessage('label.title')</span><span class="required">*</span></label>
                          <div class="col-md-6">
                             <input type="text" id="name" class="form-control" data-required="1" placeholder="#springMessage('label.enter-course-title')." value = "$!{name}" name="name" maxlength="500">
                          </div>
                       </div>
                       <div class="form-group">
                          <label  class="col-md-3 control-label"><span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content=#springMessage('tt.overview.description')">#springMessage('label.description')</span><span class="required">*</span></label>
                          <div class="col-md-6">
                             
                             <textarea id="description" name="description" class="form-control" rows="3" maxlength="1000" placeholder="#springMessage('label.desciption-default').">$!{description}</textarea>
						  </div>
                       </div>
                       <div class="form-group">
                          <label  class="col-md-3 control-label"><span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content=#springMessage('tt.overview.language')">#springMessage('label.language')</span><span class="required">*</span></label>
                          <div class="col-md-6">
                                   <select class="form-control" id="language_id" name="language_id" value="">
                                    <option value="1">#springMessage('label.english')</option>
                                    <option value="5">#springMessage('label.spanish')</option>
                                   </select>
                          </div>
                       </div>
                       
                       <div class="form-group">
                          <label  class="col-md-3 control-label"><span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content=#springMessage('tt.overview.keywords')">#springMessage('label.keywords')</span><span class="required">*</span></label>
                          <div class="col-md-6 keyword-height">
							 <input type="text" class="form-control tags" id="keywords" name="keywords"  value="$!{keywords}" maxlength="1000" data-role="tagsinput" placeholder="#springMessage('label.keywords-default')."/>
                          </div>
                       </div>
                    </div>
                    <div class="form-actions fluid">
                       <div class="col-md-offset-3 col-md-9">


							<button class="btn blue" id="btnSave"  type="Submit">#springMessage('button.save')</button>
							<button type="button" class="btn default" onClick="location.href='/lcms/coursetype'">#springMessage('button.cancel')</button>   	
							
                       </div>
                    </div>
                 </form>
              </div>
           </div>
           #* END SUMMARY FORM PORTLET *#
           
        </div>
#* END PAGE CONTENT *#

#parse("footer.vm")
<script src="javascript/vm_js/constants.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>
<script src="javascript/vm_js/overview.js?#springMessage('js.version-param-name')=#springMessage('js.version')" type="text/javascript"></script>	